.circle-progress {
  fill: none;
  stroke: #F87070;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: calc(100% - 2 * 3.14 * 50 * var(--percentage));
  }
}
